# **Teste**

In [1]:
select @@version

(No column name)
Microsoft SQL Server 2022 (RTM) - 16.0.1000.6 (X64) Oct 8 2022 05:58:25 Copyright (C) 2022 Microsoft Corporation Developer Edition (64-bit) on Windows Server 2022 Standard Evaluation 10.0 <X64> (Build 20348: )

In [10]:
select * from [Person].[ContactType]

ContactTypeID,Name,ModifiedDate
1,Accounting Manager,2002-06-01 00:00:00.000
2,Assistant Sales Agent,2002-06-01 00:00:00.000
3,Assistant Sales Representative,2002-06-01 00:00:00.000
4,Coordinator Foreign Markets,2002-06-01 00:00:00.000
5,Export Administrator,2002-06-01 00:00:00.000
6,International Marketing Manager,2002-06-01 00:00:00.000
7,Marketing Assistant,2002-06-01 00:00:00.000
8,Marketing Manager,2002-06-01 00:00:00.000
9,Marketing Representative,2002-06-01 00:00:00.000
10,Order Administrator,2002-06-01 00:00:00.000
11,Owner,2002-06-01 00:00:00.000
12,Owner/Marketing Assistant,2002-06-01 00:00:00.000
13,Product Manager,2002-06-01 00:00:00.000
14,Purchasing Agent,2002-06-01 00:00:00.000
15,Purchasing Manager,2002-06-01 00:00:00.000
16,Regional Account Representative,2002-06-01 00:00:00.000
17,Sales Agent,2002-06-01 00:00:00.000
18,Sales Associate,2002-06-01 00:00:00.000
19,Sales Manager,2002-06-01 00:00:00.000
20,Sales Representative,2002-06-01 00:00:00.000